PORT=3000
BASE_IMAGE="node:26-alpine"
LOG_LEVEL="info"
# Log formats: "pretty" or "json"
LOG_FORMAT="pretty"

# Provide your Idosell domain and API key.
IDOSELL_DOMAIN= # "<<YOUR IDOSELL DOMAIN>>"
IDOSELL_API_KEY= # "<<YOUR IDOSELL API KEY>>"
IDOSELL_SYNC_INTERVAL_SEC=300 # 5min

POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="postgres"
POSTGRES_PORT=5432